body{
    font-family: sans-serif;
    margin:0;
    padding: 0;
}
header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 9vh;
    background-color: white;
    margin-bottom: 300px;
    top: 0px;
    z-index: 2;
    
}

.header_sinistro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    padding-left: 5px;
}
.header_destro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}
.header_sinistro,.header_destro>h4{
    color: #b2b2b2
}
#inizia{
    color: white;
    background-color: #0061ff;
    padding: 7px;
    text-align: center;
    text-decoration: none;
}
main{
    background-color: #b4d0e7;
    position: relative;
    padding-top: 13vh;
    height: 57vh;
    }

main>h1{
    text-align: left;
    font-size: 5em;
    padding-top: 10px;
    margin: 0px;
    padding-left: 20%;
    padding-right: 20%;
}
.main_sinistro>h4{
    font-size: 19px;
    display: inline-block;
}
.main_sinistro{
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 60%;
    position: relative;
}
#jumbo{
    height: 550px;
    position: relative;
    left: 786px;
    bottom: 316px;
}
.fa-arrow-down{
    font-size: 70px;
    position: relative;
    top: 50px;
}
.caselle, .operazioni_business{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 175px;
}
.titolo{
    text-align: left;
    font-size: 3em;
}
.quadri{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.quadri>div{
    height: 700px;
    width: 30%;
    border: solid black 1px;
}
.quadro{
    margin-top: 50px;
    border: solid black 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.singolo{
    text-align: center;
    list-style: none;
}
i{
    padding: 5px;
}
#inizia2{
    color: white;
    background-color: #0061ff;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    position: relative;
    bottom: 85px;
    left: 1005px;
}
.partner{
    margin-top:150px;
    display: flex;
    justify-content: flex-start;
}
.partner>img{
    width: 60%;
}
.scritte_partner{
    width: 30%;
    padding-top: 150px;
    padding: 25px;
}
.bordato{
    border: solid grey 2px;
    padding: 9px;
    text-decoration: none;
    color: grey;
}
.contenitore_operazioni{
    display: flex;
    flex-direction: column;
}
.contenitore_operazioni_minore{
    display: flex;
    margin: 5px;
    justify-content: space-around;
}
.contenitore_operazioni_minore>div{
    width: 33%;
    margin: 25px;
}
.sezione_quadra>img{
    width: 100%;
    margin-top: 0px;
}
